body{
    font-family: 'Almarai', sans-serif;
}
.content{
    margin-top:45px !important;
}
.displayView{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(3,3,3,0.5);
    z-index: 3;
    display: none;
}

.displayViewContent{
    position: absolute;
    width:90%;
    
    top:20%;
    left: 5%;
}
.displayViewContent .card-body{
    height:400px;
    overflow-x: scroll;
}
.displayView .close{
    position: absolute;
    
    top:12%;
    right: 20px;
}
.load_content, #show_photo{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(3,3,3,0.5);
    z-index: 3;
    display: none;
}
.load_image{
    position: absolute;
    width:50px;
    top:45%;
    left:45%;
    
}

.alert_message{
    position: fixed !important;
    font-size: 20px;
    font-weight: bold;
    top:25px;
    width:400px;
    right:25px;
    /* direction: rtl; */
    z-index: 1031;
}




/**start media query**/
@media(max-width:767px){/*mobile and tablet*/
    
    
    
    

    
}



@media(min-width:992px) and (max-width:1199px){
    /*medium screen*/
    
}
@media(min-width:1200px){/*large screen*/
    
}
@media print{
    *{
        background-color:#000;
    }
}
